In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
train_data = pd.read_csv('/Users/Suganya/Downloads/AutoInsurance.csv')

In [3]:
train_data.isna().sum().sort_values(ascending=True)

Customer                         0
Total Claim Amount               0
Sales Channel                    0
Renew Offer Type                 0
Policy                           0
Policy Type                      0
Number of Policies               0
Number of Open Complaints        0
Months Since Policy Inception    0
Months Since Last Claim          0
Monthly Premium Auto             0
Marital Status                   0
Location Code                    0
Income                           0
Gender                           0
EmploymentStatus                 0
Effective To Date                0
Education                        0
Coverage                         0
Response                         0
Customer Lifetime Value          0
State                            0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [4]:
loan_num=train_data[train_data.select_dtypes('number').columns.to_list()]

In [5]:
train_data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,3/2/2011,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
loan_cat = train_data[train_data.select_dtypes('object').columns.to_list()]

In [7]:
loan_cat.drop(['Customer','Effective To Date'],axis=1,inplace=True)

/opt/anaconda3/envs/sugi/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
loan_cat.columns

Index(['State', 'Response', 'Coverage', 'Education', 'EmploymentStatus',
       'Gender', 'Location Code', 'Marital Status', 'Policy Type', 'Policy',
       'Renew Offer Type', 'Sales Channel', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [9]:
#loan_cat.columns=loan_cat.columns.str.replace(' ','')

In [10]:
loan_cat.columns

Index(['State', 'Response', 'Coverage', 'Education', 'EmploymentStatus',
       'Gender', 'Location Code', 'Marital Status', 'Policy Type', 'Policy',
       'Renew Offer Type', 'Sales Channel', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
for column in loan_cat:
    le = LabelEncoder()
    train_data[column] = le.fit_transform(loan_cat[column])

In [13]:
train_data.head(10)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,4,2763.519279,0,0,0,2/24/11,1,0,56274,...,5,0,1,0,2,0,0,384.811147,5,1
1,QZ44356,0,6979.535903,0,1,0,1/31/11,4,0,0,...,42,0,8,1,5,2,0,1131.464935,0,1
2,AI49188,2,12887.431650,0,2,0,2/19/11,1,0,48767,...,38,0,2,1,5,0,0,566.472247,5,1
3,WW63253,1,7645.861827,0,0,0,1/20/11,4,1,0,...,65,0,7,0,1,0,2,529.881344,3,1
4,HB64268,4,2813.692575,0,0,0,3/2/2011,1,1,43836,...,44,0,1,1,3,0,0,138.130879,0,1
5,OC83172,3,8256.297800,1,0,0,1/25/11,1,0,62902,...,94,0,2,1,5,1,3,159.383042,5,1
6,XZ87318,3,5380.898636,1,0,1,2/24/11,1,0,55350,...,13,0,9,0,2,0,0,321.600000,0,1
7,CF85061,0,7216.100311,0,2,4,1/18/11,4,1,0,...,68,0,4,0,2,0,0,363.029680,0,1
8,DY87989,3,24127.504020,1,0,0,1/26/11,2,1,14072,...,3,0,2,0,2,0,0,511.200000,0,1
9,BQ94931,3,7388.178085,0,1,1,2/17/11,1,0,28812,...,7,0,8,2,7,1,1,425.527834,0,1

In [14]:
train_data.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   int64
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   int64
 4   Coverage                       9134 non-null   int64
 5   Education                      9134 non-null   int64
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   int64
 8   Gender                         9134 non-null   int64
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   int64
 11  Marital Status                 9134 non-null   int64
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   int64
 18  Policy                         9134 non-null   int64
 19  Renew Offer Type               9134 non-null   int64
 20  Sales Channel                  9134 non-null   int64
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   int64
 23  Vehicle Size                   9134 non-null   int64
dtypes: float64(2), int64(20), object(2)
memory usage: 1.7+ MB

/opt/anaconda3/envs/sugi/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [15]:
train_data.head(10)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,4,2763.519279,0,0,0,2/24/11,1,0,56274,...,5,0,1,0,2,0,0,384.811147,5,1
1,QZ44356,0,6979.535903,0,1,0,1/31/11,4,0,0,...,42,0,8,1,5,2,0,1131.464935,0,1
2,AI49188,2,12887.431650,0,2,0,2/19/11,1,0,48767,...,38,0,2,1,5,0,0,566.472247,5,1
3,WW63253,1,7645.861827,0,0,0,1/20/11,4,1,0,...,65,0,7,0,1,0,2,529.881344,3,1
4,HB64268,4,2813.692575,0,0,0,3/2/2011,1,1,43836,...,44,0,1,1,3,0,0,138.130879,0,1
5,OC83172,3,8256.297800,1,0,0,1/25/11,1,0,62902,...,94,0,2,1,5,1,3,159.383042,5,1
6,XZ87318,3,5380.898636,1,0,1,2/24/11,1,0,55350,...,13,0,9,0,2,0,0,321.600000,0,1
7,CF85061,0,7216.100311,0,2,4,1/18/11,4,1,0,...,68,0,4,0,2,0,0,363.029680,0,1
8,DY87989,3,24127.504020,1,0,0,1/26/11,2,1,14072,...,3,0,2,0,2,0,0,511.200000,0,1
9,BQ94931,3,7388.178085,0,1,1,2/17/11,1,0,28812,...,7,0,8,2,7,1,1,425.527834,0,1

In [16]:
train_data.drop(['Customer','Effective To Date'],axis=1,inplace=True)

In [17]:
train_data.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          9134 non-null   int64
 1   Customer Lifetime Value        9134 non-null   float64
 2   Response                       9134 non-null   int64
 3   Coverage                       9134 non-null   int64
 4   Education                      9134 non-null   int64
 5   EmploymentStatus               9134 non-null   int64
 6   Gender                         9134 non-null   int64
 7   Income                         9134 non-null   int64
 8   Location Code                  9134 non-null   int64
 9   Marital Status                 9134 non-null   int64
 10  Monthly Premium Auto           9134 non-null   int64
 11  Months Since Last Claim        9134 non-null   int64
 12  Months Since Policy Inception  9134 non-null   int64
 13  Number of Open Complaints      9134 non-null   int64
 14  Number of Policies             9134 non-null   int64
 15  Policy Type                    9134 non-null   int64
 16  Policy                         9134 non-null   int64
 17  Renew Offer Type               9134 non-null   int64
 18  Sales Channel                  9134 non-null   int64
 19  Total Claim Amount             9134 non-null   float64
 20  Vehicle Class                  9134 non-null   int64
 21  Vehicle Size                   9134 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 1.5 MB

/opt/anaconda3/envs/sugi/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [18]:
from sklearn.model_selection import train_test_split
y = train_data['Response']
X = train_data.drop('Response', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [21]:
RF = RandomForestClassifier()
RF.fit(X_train, y_train)

y_predict = RF.predict(X_test)

#  prediction Summary by species
print(classification_report(y_test, y_predict))

# Accuracy score
RF_SC = accuracy_score(y_predict,y_test)
print(f"{round(RF_SC*100,2)}% Accurate")

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2323
           1       1.00      0.97      0.99       418

    accuracy                           1.00      2741
   macro avg       1.00      0.99      0.99      2741
weighted avg       1.00      1.00      1.00      2741

99.56% Accurate

In [22]:
DT = DecisionTreeClassifier()
DT.fit(X_train, y_train)

y_predict = DT.predict(X_test)

#  prediction Summary by species
print(classification_report(y_test, y_predict))

# Accuracy score
DT_SC = accuracy_score(y_predict,y_test)
print(f"{round(DT_SC*100,2)}% Accurate")

              precision    recall  f1-score   support

           0       0.99      0.96      0.98      2323
           1       0.82      0.97      0.89       418

    accuracy                           0.96      2741
   macro avg       0.91      0.97      0.93      2741
weighted avg       0.97      0.96      0.97      2741

96.39% Accurate

In [23]:
LR = LogisticRegression()
LR.fit(X_train, y_train)

y_predict = LR.predict(X_test)

#  prediction Summary by species
print(classification_report(y_test, y_predict))

# Accuracy score
LR_SC = accuracy_score(y_predict,y_test)
print('accuracy is',accuracy_score(y_predict,y_test))
print(f"{round(LR_SC*100,2)}% Accurate")

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2323
           1       0.00      0.00      0.00       418

    accuracy                           0.85      2741
   macro avg       0.42      0.50      0.46      2741
weighted avg       0.72      0.85      0.78      2741

accuracy is 0.8475009120758847
84.75% Accurate

/opt/anaconda3/envs/sugi/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/anaconda3/envs/sugi/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/anaconda3/envs/sugi/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))